/* Mixins */

@mixin bgCover($position: center) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: $position;
}

@mixin reset-list($margin: 0px, $padding: 0px, $style: none) {
  margin: $margin;
  padding: $padding;
  list-style: $style;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


/* Helper */
$border: 1px solid $silver;

.univeral-padding {
  padding: 20px;
}

.no-margin {
  margin: 0;
}

.small-text {
  font-size: 12px;
}
